body {
	background: url('../img/background.png');
	background-repeat: no-repeat;
  	background-size: 100% 100vh;
  	background-attachment: fixed; 
    font-family: 'Recursive', sans-serif;
}

#meio {
    margin-top: 5%!important;
    margin-bottom: 15px!important;
    width: 33%;
    background-color: rgba(23,20,23,0.4);
    display: table;
    margin: auto;
    border-radius: 20px;
}

img.logo-meio {
    width: 50%;
    margin: auto;
    display: table;
    margin-top: 5%;
}

#meio p {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
}

div#meio-termos {
    font-size: 12px;
    font-style: italic;
    color: #c5c5c5;
    text-align: center;
    margin: 20px 0;
    font-family: 'Recursive', sans-serif;
}

a#botao-registro {
    display: table;
    margin: auto;
    border-radius: 30px;
    padding: 3% 15%;
    font-weight: 600;
    background-color: #27ae60;
    transition: 0.5s;
}

a#botao-registro:hover {
	background-color: #ffffff;
	color: #27ae60;
	border-color: #27ae60;
}

a#botao-login {
    display: table;
    margin: auto;
    border-radius: 30px;
    padding: 3% 15%;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: #8944b5;
    transition: 0.5s;
}

a#botao-login:hover {
	background-color: #ffffff;
	color: #8944b5;
	border-color: #8944b5;
}


hr#divisoria {
    background: #ffffff;
    width: 90%;
}

img#redes-sociais {
    width: 90%;
    margin-bottom: 35px;
    transition: 0.4s;
}

img#redes-sociais:hover {
    transform: rotate(360deg);
}

div#meio-copy {
    color: #b3b2b2;
    text-align: center;
    font-size: 11px;
}

label#label-pequeno {
    color: #e0e0e0;
    font-size: 11px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 0;
    padding-left: 14px;
}

form#formulario-reg-log {
    padding: 0 5%;
}

input#input-black {
    border-radius: 30px;
    background: #5b5b5ba6;
    color: #fff;
    border-color: #6f6f6f;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
}

a#botao-cancelar {
    width: 100%;
    border-radius: 30px;
}

#botao-sucesso {
    width: 100%;
    border-radius: 30px;
}

a#problemas-link p {
    margin: 50px 0!important;
}

hr#divisoria-escura {
    background: #434343;
    width: 90%;
    margin: 30px 0;
}

#meio h4 {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
}

/*-------------------------------------------------------
                PAINEL
----------------------------------------------------------*/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
body {
  font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 10px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 100%;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    object-fit: cover;
    height: 125px;
    width: 125px;
    display: table;
    margin: auto;
    border-radius: 100%;
    border: 3px solid #226322;
}

.sidebar-wrapper .sidebar-header .user-info {
    width: 100%;
    text-align: center;
}

.sidebar-menu ul li {
    font-size: 15px;
    text-align: center;
}

.sidebar-menu ul li.active {
    background: #636363;
    font-weight: bolder;
}

.sidebar-menu ul li:hover {
    background: #636363;
    font-weight: bolder;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
    font-size: 19px;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    background-color: #636363;
    min-height: 100vh;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}


/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fafbff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

#conteudo {
    margin-top: 5%!important;
    margin-bottom: 15px!important;
    width: 95%;
    background-color: rgba(23,20,23,0.4);
    display: table;
    margin: auto;
    border-radius: 20px;
}

h3#titulo-conteudo {
    text-align: center;
    padding: 2%;
    margin-bottom: -30px;
    color: #eaeaea;
}

div#sessao-botao-cadastro {
    margin-top: -10px;
    margin-bottom: -10px; 
}

input#input-black-painel {
    border-radius: 30px;
    background: #ffffff;
    color: #5b5b5b;
    border-color: #6f6f6f;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
}

#titulo-tabela {
    color: #fff;
    margin-top: -15px;
}

table a {
    color: #fefefe;
    text-decoration: none;
}

table a:hover {
    color: #3cd648;
    text-decoration: none;
}

a#link-tabela {
    color: #ea740e;
    text-decoration: none;
}

label#label-pequeno-painel {
    color: #ecf0f1;
    font-size: 11px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 0;
    padding-left: 14px;
}

h5#item-single {
    color: #ffffff;
}

h5#item-single span{
    color: orange;
}

h5#item-single-modal {
    color: #0e0e0e;
}

h5#item-single-modal span{
    color: #ff002f;
}

.funcionario-pic img {
    max-width: 100%;
    width: 250px;
    display: table;
    margin: auto;
}
small {
    color: #ff880e;
}

h4#titulo-conteudo {
    color: #fff;
}

span#data-obs {
    color: orange;
    font-weight: 600;
    font-size: 1.2em;
}
p#obs-cliente {
    font-size: 1.1em;
    color: #fff;
}

.my-card {
    position: absolute;
    left: 35%;
    top: -28px;
    border-radius: 50%;
    font-size: 26px;
}

span#resultado {
    text-align: center;
    font-size: 2em;
    color: darkgreen;
}

img.foto-produto-tabela {
    width: 50px;
    border-radius: 50px;
    margin: 0 15px;
}

div#card-kit {
    text-align: center;
    text-decoration: none;
    background: #ecf0f1;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #34495e;
    transition: 0.5s;
}

div#card-kit:hover {
    box-shadow: 3px 3px 10px #E67E21;
}

div#card-kit a {
    text-decoration: none;
    color: #34495e;
}

label#label-pequeno-painel-preto {
    color: #000000;
    font-size: 11px;
    font-style: italic;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 0;
    padding-left: 14px;
}

#cardFinanceiro {
  margin-bottom: 40px;
}

/* AGenda*/


/* ----------------------------------------------------------
                        RESPONSIVO
------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
  #meio {
    margin-top: 25%!important;
    margin-bottom: 15px!important;
    width: 90%;
    background-color: rgba(23,20,23,0.4);
    display: table;
    margin: auto;
    border-radius: 20px;
  }
  body {
  	background-size: 100% 100vh;
  }
  .funcionario-pic img {
      margin-bottom: 20px;
  }
  #conteudo {
      display: block;
  }
  div#sessao-botao-cadastro>div>button {
     margin: 15px 0px;
  }
}


.fc .fc-daygrid-day.fc-day-today {
    background-color: orange;
}

.fc-theme-standard td {
    background: #ffffff;
    border: 1px solid orange;
}

h2.fc-toolbar-title {
    color: #ffffff;
}

button .fc-button-primary {
    background: orange!important;
}

th.fc-col-header-cell.fc-day {
    background: orange;
    color: #ffffff;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid orange;
}